*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media
mail.py
.idea
.git
.venv
.vscode
node_modules
static/term/css/tabs.html
static/term/css/tab.html
static/term/css/btn.html
static/term/images/Apache_Flink_logo.svg.png
static/term/images/Apache_Spark_logo.svg.png
db_relations
comp/*
