{% extends 'term/base.html' %}

{% block content %}

<div class="onlinehelpers card">
    <div class="card-header">
        <div class="card-title">
            <h1>Online обробники</h1>
        </div>
    </div>

{% for onlinehelper in onlinehelpers %}

    <div class="onlinehelpers-title card-body">
        <a class="nav-link" href="{% url 'onlinehelper:onlinehelper' onlinehelper.id %}">
            <h2 class="main-onlinehelpers-h2 card-title">{{ onlinehelper.title }}</h2>
            <p class="card-text" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">Дата створення: {{ onlinehelper.cdate }}</p>
            <p class="card-text" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">Дата модифікації: {{ onlinehelper.mdate }}</p>
            <h3 class="card-title">
                {% autoescape off %}
                Framework: {{ onlinehelper.stream_framework_name }}
                {% endautoescape %}
            </h3>
            {% if forloop.counter != onlinehelpers_count %}
                <hr>
            {% endif %}
        </a>
    </div>

{% endfor %}
</div>

{% endblock %}