.footer {
    display: grid;
    text-align: center;
    /* background-color: rgb(96, 143, 204);
    border: 1px solid rgb(24, 84, 133);
    color: #fff; */
    margin: 15px;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-gap: 0px;
    justify-self: center;
    align-self: stretch; 
    width: 98%;
}
/* .footer>div:nth-child(1){
    justify-self: center;
    align-self: stretch;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-gap: 0px;
} */

.footer-p{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* border-top: 1px solid rgb(96, 143, 204); */
    bo
}