.color-header{
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #ffffff, #e2f1f8);
    background-repeat: repeat-x;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    border-bottom-color: #d4d4d4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 15px;
    padding: 0 1rem;
}

.header-letters-nav section{
    display:grid
}

.header-letters-nav{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.header-letters-nav-link{
    display:block;
    padding:.5rem 1rem;
    /* font-size: 16px; */
    font-family: sans-serif
}
.header-letters-nav-link:focus,.header-letters-nav-link:hover{
    text-decoration:none;
}
.header-letters-nav-link.disabled{
    color:#6c757d;
    pointer-events:none;
    cursor:default
}
.header-letters-nav-tabs{
    border-bottom:1px solid #dee2e6
}
.header-letters-nav-tabs .header-letters-nav-item{
    margin-bottom:-1px
}
.header-letters-nav-tabs .header-letters-nav-link{
    border:1px solid transparent;
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem
}
.header-letters-nav-tabs .header-letters-nav-link:focus,.header-letters-nav-tabs .header-letters-nav-link:hover{
    border-color:#e9ecef #e9ecef #dee2e6;
}
.header-letters-nav-tabs .header-letters-nav-link.disabled{
    color:#6c757d;
    background-color:transparent;
    border-color:transparent
}
.header-letters-nav-tabs .header-letters-nav-item.show .header-letters-nav-link,.header-letters-nav-tabs .header-letters-nav-link.active{
    color:#0061ad;
    background-color:#fff;
    border-color:#dee2e6 #dee2e6 #fff
}
.header-letters-nav-tabs .dropdown-menu{
    margin-top:-1px;
    border-top-left-radius:0;
    border-top-right-radius:0
}
.header-letters-nav-pills .header-letters-nav-link{
    border-radius:.25rem
}
.header-letters-nav-pills .header-letters-nav-link.active,.header-letters-nav-pills .show>.header-letters-nav-link{
    color:#fff;
    background-color:#007bff
}
.header-letters-nav-fill .header-letters-nav-item{
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    text-align:center
}
.header-letters-nav-justified .header-letters-nav-item{
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    text-align:center
}
/* @media (min-width: 300px) {
    .header-letters-nav-link{
        font-size: 14px;
    }
}
@media (min-width: 600px) {
    .header-letters-nav-link{
        font-size: 16px;
    }
}
@media (min-width: 900px) {
    .header-letters-nav-link{
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .header-letters-nav-link{
        font-size: 22px;
    }
} */

/* @media (max-width: 1200px) {
    .header-letters-nav-link{
        font-size: 22px;
    }
} */